*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/values/strings.xml
.gradle/7.0.2/executionHistory/*.bin
.gradle/7.0.2/executionHistory/*.lock
.gradle/7.0.2/fileHashes/*.bin
.gradle/7.0.2/fileHashes/*.lock
.gradle/7.0.2/fileHashes/*.bin
.gradle/7.0.2/javaCompile/*.bin
.gradle/7.0.2/javaCompile/*.lock
.gradle/buildOutputCleanup/*.lock
.gradle/buildOutputCleanup/*.bin
.gradle/checksums/*.bin
.gradle/checksums/*.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/7.0.2/javaCompile/*.bin
.gradle/7.0.2/javaCompile/*.lock
*.bin
*.lock
